<!-- <div>
    <h3 #header>This is a ViewChild Header</h3>
</div><br>
<app-two-way-binding></app-two-way-binding><br>
Employees:<app-employee-info></app-employee-info><br>
<router-outlet></router-outlet><br>
<a routerLink="/employees">employees</a><br>
<a routerLink="/departments">Departments</a><br>
<app-template-driven-forms></app-template-driven-forms><br>
<app-new-template-forms></app-new-template-forms><br>
<app-http-client></app-http-client><br>
<app-internalization></app-internalization><br>
<app-posts></app-posts><br>
<app-observable-component></app-observable-component>
<app-operators></app-operators>
<app-component-one></app-component-one><br>
<app-subjects></app-subjects> 
<app-promise></app-promise>
<h1>AppComponent</h1>
<app-component-two></app-component-two>
<app-subjects></app-subjects>
<app-grand-parent></app-grand-parent>
<app-parent-component></app-parent-component>
<app-child-component>child component</app-child-component>
<app-updated-component-one></app-updated-component-one>
<app-updated-component-one></app-updated-component-one>  
<app-content-projection></app-content-projection> 
<app-updated-component></app-updated-component>
<app-new-parent></app-new-parent>
<app-comp1></app-comp1>
<app-component-interaction></app-component-interaction>
<app-new-template-forms></app-new-template-forms>
<app-spies-mockies></app-spies-mockies>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-counter></app-counter>
        </div>
    </div>
</div>
<app-reactive-forms></app-reactive-forms>
<app-employee-list></app-employee-list>-->
<h1>App Component</h1>
